.App {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background: #9a2727;
  animation: color-me-in 5s infinite;
  font-family: "Source Sans Pro", sans-serif;
}

/* @keyframes color-me-in {
  0% {
    background: #9a2727;
  }

  50% {
    background: black;
  }
  100% {
    background: #9a2727;
  }
} */

label {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.userHeader {
  margin-left: 470px;
}

.userImg {
  margin-left: 450px;
}

h1 {
  font-size: 60px;
  animation: h1 2s ease-out;
  opacity: 1;
  color: white;
  animation: 0.8s shake infinite alternate;
  font-family: "Source Sans Pro", sans-serif;
}

.deleteButton {
  background-color: transparent;
}

@keyframes shake {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}

nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-left: 5px;
  font-family: "Source Sans Pro", sans-serif;
}
nav {
  display: flex;
  flex-direction: center;
  justify-content: center;
  margin-right: 30px;
  font-family: "Source Sans Pro", sans-serif;
  /* margin-left: 40px; */
}

.loginbutton {
  margin-left: 280px;
}

.homeForm {
  margin-left: 230px;
}

select {
  width: 120px;
  height: 30px;
  font-size: 15px;
  color: black;
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.commentIcon {
  margin-top: 15px;
}
.commentCount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
}
.topiccard {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  font-family: "Source Sans Pro", sans-serif;
  margin-right: 60px;
}

.route {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Source Sans Pro", sans-serif;
}

/* .topic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
} */

p {
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}

.loadingButton {
  display: flex;
  flex-direction: center;
  justify-content: center;
}

.articletopic {
  list-style-type: none;
  padding: 20px;
  margin: 20px;
  margin-left: 100px;
  border: solid;
  height: 40%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
}

.titlelink {
  text-decoration: none;
  /* color: white; */
  font-family: "Source Sans Pro", sans-serif;
}

.authorcoding {
  text-decoration: none;
  /* color: white; */
  font-family: "Source Sans Pro", sans-serif;
}

.authorfootball {
  text-decoration: none;
  /* color: rgb(49, 36, 36); */
  font-family: "Source Sans Pro", sans-serif;
}

.authorcooking {
  text-decoration: none;
  /* color: rgb(49, 36, 36); */
  font-family: "Source Sans Pro", sans-serif;
}

.articleVote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
}

.articleVote button {
  height: 30px;
  border-radius: 20px;
  margin: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

.headofCard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

.headofCard p {
  font-size: 18px;
  font-weight: 300px;
  font-family: "Source Sans Pro", sans-serif;
}

.commentCard {
  list-style-type: none;
  margin: 20px;
  border: solid black;
  height: 40%;
  font-family: "Source Sans Pro", sans-serif;
}

input {
  width: 300px;
  height: 50px;
  font-weight: 500;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif;
}

.topicPage {
  width: 100%;
}
.individualTopic {
  list-style-type: none;
  margin: 20px;
  width: 500px;
  border: solid black;
  height: 100px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.topiccard {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  font-family: "Source Sans Pro", sans-serif;
}

.topicHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
}

.topicPageTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 430px;
  font-family: "Source Sans Pro", sans-serif;
}

/* .login {
  color: black;
  margin-left: 50px;
  height: 35px;
  width: 90px;
  border-radius: 20px;
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
} */

.articleBody {
  border: solid black;
  /* color: white; */
  padding: 20px;
  margin: 20px;
  width: 88%;
  font-family: "Source Sans Pro", sans-serif;
}

.commentText {
  /* color: white; */
  font-family: "Source Sans Pro", sans-serif;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}
